
a {
    text-decoration: none;
    color: #08C;
}

body {
    font-size: 18px;
    line-height: 1.45;
    font-weight: 400;
    letter-spacing: normal;
    background-color: #FFF;
    color: #333;
    font-style: normal
}

#global-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 52.8px;
    width: 100%;
    background-color: #333;
}

#global-nav ul {
    position: absolute;
    top: 0;
    margin: 0;
    height: inherit;
}

.global-nav-items a {
    color: #FFF;
    font-size: 16px;
    line-height: 2.75;
    font-weight: 400;
    opacity: 1;
}

.global-nav-items a {
    position: relative;
    margin: 10px 46px;
    top: 4px;
}


#global-nav li {
    display: inline-block;
    vertical-align: top;
    height: inherit;
}

#info-ipad-pro {
    position: absolute;
    left: 0;
    top: 52.8px;
    height: 780px;
    width: 100%;
    background: url("../images/hero.jpg") 100px 260px no-repeat;
}

#header-main {
    text-align: center;
    letter-spacing: .15em
}

#header-main h1 {
    font-size: 64px;
    line-height: 1.0625;
    font-weight: 200;
    letter-spacing: -0.015em;
    margin-bottom: 0;
}

#header-main h2 {
    font-size: 32px;
    line-height: 1.125;
    font-weight: 200;
    letter-spacing: -0.025em;
    margin: 4px 0;
}

#header-main ul {
    padding-left: 0;
}

#header-main li {
    display: inline-block;
    font-size: 20px;
    font-weight: 200;
    margin: auto 10px;

}


footer {
    width: 100%;
    position: absolute;
    top: 1043px;
    left: 0;
    height: 417px;
    background-color: #F3F3F3;
}



#footer1 {
    font-size: 13px;
    font-weight: 600;
    color: #333;
}

#footer1 li {
    display: inline-block;
    width: 230px;
    vertical-align: top;
    margin-bottom: 4px;
}


.header-footer1 {
    margin-top: 30px;
}

#info-footer {
    display: inline-block;
    width: 1200px;
    color: #999;
    font-weight: 200;
    margin-left: 40px;
    padding-bottom: 8px;
    border-bottom: 1px solid #E3E3E3;
}


#footer2 li {
    display: inline-block;
    border-right: 1px solid #E3E3E3;
    padding: 0 15px;
}

